services:
  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: safepay
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: